nav {
    background-color: #1c2b35;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
   padding: 0 280px;
    margin: 0 auto;
}
.menu_area a {
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    padding: 0px 16px;
}
